@external alert;
.alert {
    font-weight: bold;
    color: red;
}

@external caption; 
.caption {
    font-weight: bold;
}

@external error;
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/error.png');
}