# OS directories
.DS_Store

# IDE files
.idea

# SQLlite files (store schema and SQL files in git)
*.sqlite

# gradle directories
**/build
**/gradle
**/.gradle

# gradle files
gradle-wrapper.jar
gradlew
gradlew.bat

