<link rel="import" href="../components/navigation-button.html">
<polymer-element name="content-menu-widget">
  <template>
    <aside class="content-menu-widget">
      <input type="text">Search</input>
      <nav>
        <ul>
          <li><navigation-button target='effects-demo'>Effects demo</navigation-button></li>
          <!-- TODO try effects using keyframes -->
          <li><navigation-button target='input-demo'>Input demo</navigation-button></li>
          <li><navigation-button target='layout-demo'>Layout demo</navigation-button></li>
          <li><navigation-button target='notification-demo'>Notification demo</navigation-button></li>
          <li><navigation-button target='storage-demo'>Storage demo</navigation-button></li>
          <li><navigation-button target='svg-demo'>SVG demo</navigation-button></li>
        </ul>
      </nav>
    </aside>
    
    <style>
      @host {
        content-menu-widget {
           background: yellow;
        }
        
        .active {
          background-color: blue;
        }
      }
    </style>
  </template>
  <script type="application/dart" src="../widgets/content_menu_widget.dart"></script>
</polymer-element>
      