<link rel="import" href="../components/toggle-button.html">
<polymer-element name="input-demo-widget">
  <template>
    <div>
      <section>
        <h2>Select</h2>
        <select>
          <option>Option 1</option>
          <option>Option 2</option>
        </select>
      </section>
      
      <section>
        <h2>Text field</h2>
      </section>
      
      <section>
        <h2>Text block</h2>
        <!-- div with input and keep formating with (check wunderlist dart notes) -->
      </section>
      
      <section>
        <h2>Password</h2>
      </section>
      
      <section>
        <h2>Slide</h2>
      </section>
      
      <section>
        <h2>Button</h2>
        <toggle-button state='On'></toggle-button>
      </section>
    </div>
  </template>
  <script type="application/dart" src="../widgets/input_demo_widget.dart"></script>
</polymer-element>

      
