<!DOCTYPE html>
<html>
  <body>
    <polymer-element name="questionnaire-widget">
      <template id="questionnaire" if="{{questionnaire != null}}">
        <template bind="{{questionnaire}}">
          <h1>{{questionnaireName}}</h1>
          <template repeat="{{ groups }}">
            <article>
              <h3>{{description}}</h3>
              <p>{{score}}</p>
              <table class="question-group">
                <tr template repeat="{{ questions }}">
                  <td>{{question}}</td>
                  <td>
                    <select on-change="showMessage">
                      <option template repeat="{{ options }}">{{}}</option>
                    </select>
                  </td>
                </tr>              
              </table>
            </article>
          </template>
        </template>
      </template>
      <script type="application/dart" src="../widgets/questionnaire_widget.dart"></script>
    </polymer-element>
  </body>
</html>
