<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
    	<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    	<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  	</configSections>
	<connectionStrings>
  		<add name="UserContext"
        	connectionString="Data Source=SqliteTest.db"
        	providerName="Mono.Data.Sqlite" />
	</connectionStrings>
	<entityFramework>
    	<providers>
      		<provider 
      			invariantName="Mono.Data.Sqlite" 
      			type="Mono.Data.Sqlite.SqliteFactory, Mono.Data.Sqlite, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0738eb9f132ed756" >
      		</provider>
    	</providers>
  	</entityFramework>
  	<system.data>
    	<DbProviderFactories>
    		<remove invariant="Mono.Data.Sqlite"/>
    	 	<add name="Mono Sqlite Provider"  
	    		invariant="Mono.Data.Sqlite" 
		 		description="Mono Framework Data Provider for SQLite"
		 		type="Mono.Data.Sqlite.SqliteFactory, Mono.Data.Sqlite, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0738eb9f132ed756"/>
    	</DbProviderFactories>
  	</system.data> 
</configuration>
