/* reset */
* {
  margin: 0;
  padding: 0;
}
html,body{
  height: 100%;
  font-size: 1px;
}

/* TODO:
  Constants
    var-backgroundColor: #F8F8F8;
    background-color: var(backgroundColor);
*/

/* elements */
body {
  background-color: #F8F8F8;
  color: blue;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16rem;
  font-weight: 300;
}

p {
  font-size: 17rem;
  line-height: 21rem;
  text-transform: uppercase;
}

h1,h2,h3,h4 {
  font-weight: bold;
  font-size: 17rem;
  line-height: 21rem;
  text-transform: uppercase;
}

/* layout classes */
.horizontal-list li {
  display: inline;  
  list-style: none;
}

.vertical-list li {
  list-style: none;  
}

/* effect classes */
.blur {
  -webkit-filter: blur(4px);  
}





