<polymer-element name="navigation-button" attributes="target">
  <template>
    <button on-click="navigateTo"> 
      <content></content>  
    </button>
  </template>
  <script type="application/dart">
    import 'package:polymer/polymer.dart';
    
    @CustomTag('navigation-button')
    class NavigationButton extends PolymerElement with ObservableMixin {
      navigateTo() {
        var event = attributes['target'];
        print('fire event $event');
      }
    }
  </script>
</polymer-element>