<!DOCTYPE html>
<html>
  <body>
    <element name="x-item-list" constructor="ItemListComponent" extends="article">
      <template>
        <!-- TODO check markup for how many article does this end up inside -->
        <article>
          <h2>Item list</h2>
          <ul>
             <!-- TODO foreach -->
          </ul>
          <input type='text'></input>
          <button on-click="addItem()">Add item</button><br />
        </article>
      </template>
      <script type="application/dart" src="../components/item_list_component.dart"></script>
    </element>
  </body>
</html>

<!--    
    elm.query("a").on.click.add((Event e) {
      InputElement nameInput = elm.query('input');
      presenter.createItem(nameInput.value);
      nameInput.value = '';
    });
    
    items.forEach((var item) {
      var entry = new Element.html(""" 
        <li>
          <a href="#">Name: ${item.name}</a>
        </li>
      """);
      entry.query("a").on.click.add((Event e) => presenter.showDetails(item.id));
      elm.query("ul").nodes.add(entry);
    });
-->
    