body {
  display: flex;
  flex-flow: column;
  margin: 0 auto; 
  width: 960px;
}

#wrapper {
  display: flex;
  flex-flow: row;
}

#menu {
  display: flex;
  flex: 1;
  order: 1;  
}

#container {
  display: flex;
  flex: 4;
  flex-flow: column;
  order: 2;  
}