#frame {
  display: flex;
  flex-flow: column;
  margin: 0 auto; 
  width: 960px;
}

#ui-header {
  display: flex;
  flex: 1;
  flex-flow: row;
  order: 1;  
  
  background-color: blue;
}

#ui-container {
  display: flex;
  flex: 4;
  flex-flow: row;
  order: 2;  
}

#ui-menu {
  display: inline-flex;
  flex: 1;
  order: 1;
  
  background-color: orange;  
}

#ui-page-wrapper {
  display: inline-flex;
  flex-flow: row;
  flex: 4;
  order: 2;
}

.ui-page {
	width: 100%;
	background-color: red;	
}

.ui-component {
	
}

.ui-button {
	
}