#ui-frame {
  display: flex;
  flex-flow: column;
  margin: 0 auto; 
  width: 960px;
  height: 100%;
}

#ui-header {
  display: flex;
  flex: 1;
  flex-flow: row;
  order: 1;  
}

#ui-container {
  display: flex;
  flex: 4;
  flex-flow: row;
  order: 2;  
  height: 100%;
}

#ui-menu {
  display: inline-flex;
  flex: 1;
  order: 1;
}

#ui-page-wrapper {
  display: inline-flex;
  flex-flow: row;
  flex: 4;
  order: 2;
}

.ui-page {
	display: flex;
	flex: 1;
}

.ui-component {
	
}

.ui-button {
	
}