h1, h2 {
    margin: 0;
    padding: 5px;
    font-family: "Arial Black", "Century Gothic", AppleGothic, sans-serif;
    font-weight: bold;

}

h1.logo {
    font-variant: small-caps;
    font-size: 350%;
    color: #9FC54E;
}

h2.banner {
    background: #FBCA54;
    color: white;
}

#center p {
    font-size: 14px;
    text-align: center;
}

#topicbox {
    font-size: 16px;
    height: 290px;
    margin: 10px 20px;
    padding: 20px;
}

#topicbox ul {
    padding-top: 25px;
}

#loginbox, #signupbox {
    margin: 10px 5px;
    padding: 5px;
    background: #9FC54E;
}

.button {
    margin-top: 5px;
    background: #FBCA54;
    border: none;
    color: white;
}

.inline-list ul, .inline-list li {
    display: inline;
    font-weight: bold;
}

